# Test configuration file
# This file is formmatted using the YAML format, if editing, be careful not to replace spaces with TABS, as this will render the file unreadable!
#

# Vectorization configurization for purpose categories
purpose_vectorizer:
    preproc_config:
        token_min_df: 1
        token_max_df: 250
        lemmatize: False
        stemmer: porter
        puncts: ~!@#$%^&*()_+-={}|[]\:";\'<>?,./
    bigram_config:
        bigrams: True
        bigram_window_size: 5
        bigram_filter_size: 5
        bigram_nbest: 250
        bigram_measure: mi_like
    feature_selector:
        fselect: chi2
        multi_integrator: max
        kbest: 500

# Vectorization configurization for field categories
field_vectorizer:
    preproc_config:
        token_min_df: 1
        token_max_df: 500
        lemmatize: False
        stemmer: porter
        puncts: ~!@#$%^&*()_+-={}|[]\:";\'<>?,./
    bigram_config:
        bigrams: True
        bigram_window_size: 5
        bigram_filter_size: 5
        bigram_nbest: 1000
        bigram_measure: mi_like
    feature_selector:
        fselect: f_classif
        multi_integrator: max
        kbest: 1000

# Prediction Model for purpose categories
purpose_model:
    target_set: purpose
    model: LogisticRegression
    model_config:
        penalty: l2
        C: 10
        class_weight: balanced
        multi_class: ovr
        max_iter: 300
        solver: liblinear
    
# Prediction Model for field categories
# Note that we use a custom field called "chembio" which is a 50/50 split between F2 and D2
field_model:
    target_set: field
    model: LogisticRegression
    model_config:
        penalty: l2
        C: 10
        class_weight: balanced
        multi_class: ovr
        max_iter: 300
        solver: liblinear
    labels:
        - a1
        - a2
        - a3
        - a4
        - a5
        - a6
        - a8
        - b1
        - b2
        - b3
        - c1
        - c2
        - c3
        - chembio
        - d
        - e
        - f1
        - f2
        - f3
        - f5
        - g
        - h1
        - h2
        - h3
        - h4
        - h5
        - i
        - k
        - l
        - m
        - n
        - o
        - p
        - q
        - r
